.SignInForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    container-type: inline-size;
}

.SignInForm .wrapper {
    width: 400px;
}
@container (max-width: 500px) {
    .SignInForm .wrapper {
        width: 100%;
    }
}

.SignInForm .wrapper input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
